body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url('d68b04d8a253b4447c57269bcbf7c04e.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    text-align: center;
    position: relative;
}

.titulo img {
    width: 400px;
    height: auto;
}

.Pokeball {
    width: 450px;
    height: 450px;
    background-image: url('pngimg.com - pokeball_PNG7.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Pokeball:active {
    transform: scale(0.9);
}

#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin-top: 20px;
    padding: 20px;
}

.pokemon-card {
    min-height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}


.pokemon-card img {
    display: block;
    margin: 0 auto;
    width: 100px; 
    height: 100px;
    object-fit: contain;
}


.pokemon-card h2 {
    font-size: 18px;
    margin-top: 10px;
}


.pokemon-text {
    font-size: 14px;
    margin: 5px 0;
    padding: 5px;
    color: #333;
    border-radius: 5px;
    text-align: center;
}

.side-image {
    position: absolute;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
} 

.left {
    left: 110%;
}

.right {
    right: 110%;
}

